extends ../shared/template/layout/_default

block vars
  -
    var title = 'example'
    var root = './'

block main
  #app(data-id='1')
  .texts
    p.js-text.text LADY
    p.js-text.text BALL
    p.js-text.text CANYON